* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
    user-select: none;
    margin:0 auto;
}

.container{
    height:100vh;
}
.header{
    height:90vh;
    background-color:cyan;
}
.footer{
    /* height:fit-content; */
height         : 10vh;
background     : #998F8F;
color          : white;
display        : flex;
justify-content: space-evenly;
align-items    : center;
}
.intro{
min-height: 200px;
max-width: 300px;
    /* padding:6em 0; */
    /* min-width:100%; */
    /* padding:3em; */
    border:3px solid red;
}
.contact{
max-width: 300px;
min-height: 200px;
    /* padding:6em 0; */
    /* min-height: 300px; */
    
    /* width:50px; */
    border:3px solid red;
}
.flex-warp{
    display: flex;
    flex-wrap: wrap;
    gap: 4em;
    /* width:20%; */
    min-width:20%;
    margin:auto ;
min-height: 200px;
    
}
.flex-warp >div{
    flex:max(300px, 100%/4);
    
}

/* .footer */

.footer {

    

}

.footer ul {
    display       : flex;
    flex-direction: row;
    list-style    : none;
}

.footer li {
    margin-right: 2em;

}

.footer a {
    text-decoration: none;
    color          : white;
}

.submit-btn {
    cursor: pointer;
}

.btn-text {
    pointer-events: none;
}